<div class="container">
    <div class="row">
        <div class="col">
            <h1>Listado de peronas</h1><!--
            [disbled] se trata de un metodo property binding el cual a una propiedad de html se el asocia un valor
            (click) es un event binding en donde a un evento de html se el asocia una funcion -->
            <button class="btn btn-danger" [disabled]="disable" (click)="agregarPersona()">Agregar Persona</button>
            <p>{{mensaje}}</p>
            <app-persona></app-persona>
            <label for="">Titulo persona</label><!--
            para capturar la info de un input text
            o cualquier elemento html que de info y querramos capturarla utilizamos la variable $event -->
            <!-- <input type="text" class="form-control" (input)="modificarTitulo($event)"> -->
            <input type="text" class="form-control" [(ngModel)]="titulo">
            <p>{{titulo}}</p>
        </div>
        <div id="divt" (click)="modificardiv($event)">hola {{divt}}</div>
    </div>
</div>